<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="m.groupe.bartender" >

    <application
    android:name="m.groupe.bartender.BartenderApp"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme" >

     <!-- Login -->
    <activity
        android:name=".activity.LoginActivity"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            -
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <!-- Register -->
    <activity
    android:name=".activity.RegisterActivity"
    android:label="@string/register_activity_title" />

     <!-- Main -->
     <activity
     android:name=".activity.MainActivity"
     android:label="@string/main_activity_title" />
</application>

</manifest>
